@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h2>Log in</h2>

<form method="post">
	<p>Username: <input type="text" name="id"</input></p>
	<p>Password: <input type="password" name="password" /></p>
	<input type="submit" value="Submit">
	<a href="Register">Register</a>
</form>
