@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h2>Log in</h2>

<form method="post">
	<p>Username: <input type="text" name="Username"</input></p>
	<p>Password: <label asp-for="user.HashedPass" onforminput="text" /></p>
	<input type="submit" value="Submit">
	<a href="Register">Register</a>
</form>
