@page
@model CS3750BankApp.Pages.Index1Model
@{
}
<h1>Sign up!</h1>
<div>
    <form action="hangmanLogin.php" method="post">
		<p>Username: <input type="text" name="Username"</input></p>
		<p>Password: <input type="password" name="Password"</input></p>
		<p>Confirm Password: <input type="password" name="confirmPassword"</p>
		<br /><input type="submit" value="Submit">
	</form>
</div>