@page
@using CS3750BankApp.Models
@model CS3750BankApp.Pages.WithdrawModel
@{
}
<form method="post">

    <div class="popupBox container w-50 pt-2 pb-2">
        <div class="row mt-2">
            <div class="col text-center">
                <h4>Transfer Funds</h4>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label for="withdraw">Deposite From:&nbsp;</label><br />
                <select name="withdraw" id="withdraw" class="w-100 ">
                    <option value="">Select An Account</option>
                    @{
                        foreach (Account account in Model.Accounts)
                        {
                            <option value="@account.ID">@account.Type</option>
                        }
                    }
                </select>
            </div>
        </div>
        
        <div class="row mt-2">
            <div class="col">
                <span class="text-danger">@Model.negativeAccountMsg</span><br />
                <label asp-for="WithdrawDetails.TransferAmmount"></label><br />
                <input asp-for="WithdrawDetails.TransferAmmount" class="form-control w-100" />
            </div>
            <span class="text-danger" asp-validation-for="WithdrawDetails.TransferAmmount"></span>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                <label asp-for="WithdrawDetails.Description"></label><br />
                <input asp-for="WithdrawDetails.Description"  class="form-control w-100" /> 
            </div>
             <span class="text-danger" asp-validation-for="WithdrawDetails.Description"></span>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary w-25">Transfer</button>
            </div>
        </div>
    </div>
    

</form>
<br />
<div class="col text-center">
    <form>
        <input type="button" value="Cancel" onclick="history.back()">
    </form>
</div>